<h1>Hacker News</h1>
<% if logged_in? %>
  <form class="button-for-form" action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
<% else %>
<ul>
  <li><a href="/login">login</a></li>
  <li><a href="/register">Create Account</a></li>
</ul>
<% end %>
<% if logged_in? %>
<ul>
  <li><a href="/posts/new">Submit</a></li>
</ul>
<% end %>

<h1>POSTS</h1>
<% @posts.each do |post| %>
  <h3><a href=""><%= post.title %></a> </h3>
  <p><a href=""> <%= post.content %> </a></p>
  <p><a href=""> <%= post.user_id %> </a></p>

<% end %>
